.about-info {
  display: grid;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template: repeat(3, 1fr);
  grid-gap: 30px;
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job {
  background: lighten($primary, 5);
  padding: 0.5rem;
  border-bottom: $secondary 5px solid;
}

.job1 {
  grid-area: job1;
}

.job2 {
  grid-area: job3;
}
.job3 {
  grid-area: job3;
}
